.loginPageWrapper
{
    height: 100%;
    width: min(var(--container-max-size), 90vw);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    .loginMain
    {
        width: 100%;
        flex: 1;
        background-color: green;
        margin-block: 1rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        
        
        .appDescription
        {
            text-wrap: balance;
        }
        
        .formSection
        {
            width: 100%;
            border: 1px solid yellow;
            
            .loginForm
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                
                input,
                button
                {
                    width: 100%;
                    padding: 0.5rem;
                    
                    @media (min-width: calc(630 / 16 * 1rem))
                    {
                        width: 35rem;
                    }
                }
            }
        }
    }
    
    .loginFooter
    {
        width: 100%;
        padding: 0.5rem;
        
        .authorLink
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 0.5rem;
            font-size: var(--fs-sm);
            text-wrap: balance;
            
            @media (min-width: calc(430 / 16 * 1rem))
            {
                flex-direction: row;
            }
        }
    }
}
