.loginPageWrapper
{
    height: 100%;
    width: min(var(--container-max-size), 90vw);

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    .loginHeader
    {
        margin-block: 2rem;
    }
    
    .loginHeading
    {
        display: flex;
        align-items: center;
        gap: 1rem;
        
        .icon
        {
            width: 1.8rem;
            height: 1.8rem;
        }
    }
    
    
    .loginMain
    {
        width: 100%;
        flex: 1;

        margin-block: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        
            
        svg
        {
            display: block;
            width: 100%;
            height: auto;
            margin-block-end: 1rem;
        }
        
        .loginInputSection
        {
            width: 100%;
        }
    
        .appDescription
        {
            text-wrap: balance;
            margin-block: 1rem;
        }
        
        .formSection
        {
            width: 100%;
        
            .loginForm
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                
                input,
                button
                {
                    width: 100%;
                    padding: 0.5rem;
                }
            }
        }
        
        
        @media (min-width: calc(715 / 16 * 1rem))
        {
            flex-direction: row;
        }
        
    }

    
    .loginFooter
    {
        width: 100%;
        padding: 0.5rem;
        
        .authorLink
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 0.5rem;
            font-size: var(--fs-sm);
            text-wrap: balance;
            padding: 0.5rem;
            
            a
            {
                outline: none;
                padding: 0.5rem;
                border: none;
                border-radius: 0.5rem;
                
                &:hover,
                &:focus-visible
                {
                    outline: 0.3rem solid var(--c-border);
                    outline-offset: 0;
                }
            }
            
            @media (min-width: calc(430 / 16 * 1rem))
            {
                flex-direction: row;
            }
        }
    }
}
