.noteForm
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    border: 1px solid;
    
    .inputGroup
    {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border: 1px solid;
        
        input,
        button
        {
            padding: 0.5rem;
        }
        
        .titleInput,
        .summaryInput
        {
            text-align: center;
        }
        
        input,
        button,
        textarea,
        .previewContainer
        {
            width: 100%;
        }
        
        textarea
        {
            min-height: calc(400 / 16 * 1rem);
            resize: vertical;
        }
        
        textarea,
        .previewContainer
        {
            max-width: 100%;
            padding: 1rem;
        }
    }
    
    .buttonGroup
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        
    }
}
