.noteCard
{
    border: 1px solid var(--c-border);
    border-radius: 1rem;
    display: block;
    
    article
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
        text-align: center;
        padding: 0.5rem;
    }
}
