.fieldset
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-block: 1rem;
    width: 100%;
    border: none; 
    
  
    /* Container para input + button */
    .searchRow
    {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    input,
    button
    {
        width: 100%;
    }
    
    .errorMessage
    {
        display: block;
        color: var(--c-text);
        padding: 0.5rem 0.75rem;
        width: 95%;
        text-align: center;
    }
    
    @media (min-width: calc(568 / 16 * 1rem))
    {
        flex-direction: column; /* Mantém coluna para o erro ficar embaixo */
        width: 60%;
        margin: 1rem auto;
        
        .searchRow
        {
            flex-direction: row;
            width: 100%;
            gap: 0.5rem;
        }
        
        input
        {
            flex: 1;
        }
        
        button
        {
            width: 30%;
        }
        
        .errorMessage
        {
            width: 100%;
        }
    }
}
