.searchForm
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*
    flex-wrap: wrap;
*/
    margin-block: 1rem;
    gap: 0.5rem;
    
    input,
    button
    {
        width: 100%;
        padding: 0.2rem;
    }
    
    
    @media (min-width: calc(568 / 16 * 1rem))
    {
        flex-direction: row;
        width: 60%;
        margin: 1rem auto;
        
        input
        {
            flex: 1;
        }
        
        button
        {
            width: 30%;
        }
    }
}
